@charset "utf-8";   
/* ****************************************************************************
   MAIN.CSS
   ----------------------------------------------------------------------------
   @name:        /static/css/style.scss
   @author:      You

   @description: Main CSS file combining all needed partials.

   @contents:
                 1  ...
                 2  ...
                                                                               
 =========================================================================== */
 
